Skip to content
Search or jump to…
Pull requests
Issues
Marketplace
Explore
 
@rarestomos 
robotframework
/
robotframework
Public
Code
Issues
172
Pull requests
44
Actions
Projects
Security
Insights
robotframework/.gitignore
@yanne
yanne runner: use test/task correctly in messages
Latest commit 08ba690 on Oct 1, 2020
 History
 5 contributors
@pekkaklarck@yanne@jaloren@Hi-Fi@stdedos
30 lines (30 sloc)  339 Bytes
   
tmp
build
dist
target
venv*
.venv*
.env
*~
MANIFEST
atest/results
utest/jasmine-results
.idea
.vscode
.*project
*.pyc
*$py.class
ext-lib
*.iml
.DS_Store
doc/api/_build
doc/libraries/*.html
doc/userguide/RobotFrameworkUserGuide.html
src/robotframework.egg-info
log.html
output.xml
report.html
__pycache__
.classpath
.settings
.jython_cache
© 2022 GitHub, Inc.
Terms
Privacy
Security
Status
Docs
Contact GitHub
Pricing
API
Training
Blog
About
